body {
  margin-left:10%;
  margin-right:10%;
  margin-top:1%;
}

.hidden {
  display:none;
}

.logo {
  display: block;
  margin: auto;
  width: 10%;
  height: 10%;
}

/* simplified version of the original here  https://codepen.io/ahdigital/pen/prXBzN  */
.preloader {
  color: #000;
  text-align: center;
}

.preloader .line {
  width: 1px;
  height: 12px;
  background: #000;
  margin: 0 1px;
  display: inline-block;
  animation: opacity-2 1000ms infinite ease-in-out;
}

@keyframes opacity-2 { 
  0% { 
    opacity: 1;
    height: 15px;
  }
  50% { 
    opacity: 0;
    height: 12px;
  }
  100% { 
    opacity: 1;
    height: 15px;
  }  
}